TELEGRAM_API_ID=
TELEGRAM_API_HASH=
HEALTHCHECKS_PING_URL_ALERTS=
HEALTHCHECKS_PING_URL_WEB=
HEALTHCHECKS_PING_URL_BACKUP=
HEALTHCHECKS_PING_URL_BI=
SENTRY_DSN=
APP_MODE=
FLASK_SECRET_KEY=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
OCI_PAR_URL=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_R2_DATA_BUCKET=sirens-bi-data
CLOUDFLARE_R2_WEB_BUCKET=sirens-bi-web
CLOUDFLARE_R2_ENDPOINT=
GITHUB_PAT=
GITHUB_REPO=matthewjohnsobolev/sirens

