.contact-button {
    position: relative;
    height: 29.5px;
    width: 29.5px;
    top: 99px;
    left: 12px;
    cursor: pointer;
    z-index: 1000;
    background-color: #FFFFFF;
    border-radius: 3px;
    outline: 2px solid rgba(97, 97, 97, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon {
    height: 18px;
    width: 18px;
}

.contact-button:hover {
    background-color: #F4F4F4;
}

.layer-control {
    position: relative;
    height: 29.5px;
    width: 29.5px;
    top: 86px;
    left: 12px;
    cursor: pointer;
    z-index: 1000;
    background-color: #FFFFFF;
    border-radius: 3px;
    outline: 2px solid rgba(97, 97, 97, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer-control:hover {
    background-color: #F4F4F4;
}

.layer-control-icon {
    height: 17px;
    width: 17px;
    color: white;
}

