.channel-popup-name {
    font-family: 'Inter', sans-serif, bold;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
}
  
.channel-popup-button {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    border: none;
    width: 310px;
    height: 40px;
    display: flex;
    padding: 0;
    border-radius: 10px;
    align-items: center;
    color: #000;
    background-color: #BFF0FF;
    text-align: left;
    line-height: 14px;
}
  
.channel-popup-button a {
    color: #000;
    text-decoration: none;
}
  
.channel-popup-button:hover {
    background-color: #D2F4FF;
}
  
.icon-container-marker {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
  
.icon-marker {
    height: 20px;
    width: 20px;
}

